.main-div{
padding-top: 100px;
}

.button-div{
margin-left: 10px;
border-radius: 10px;
padding: 10px;
background-color: burlywood;
font-weight: bold;
}

.list-view{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
border: 1px solid black;
margin: 10px 150px;
padding: 0 50px;
border-radius: 10px;
background-color: cadetblue;
font-weight: bold;
padding: 10px;
}

#noteInput{
    height:60px;
    width: 250px;
}